#tablero {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}
.tarjeta {
    width: 90px;
    height: 120px;
    margin: 5px;
    position: relative;
    background-color: #ccc; /* Color de fondo visible antes de mostrar la imagen */
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tarjeta img {
    width: 100%;
    height: max-content;
    display: none; /* Ocultar imagen por defecto */
}
.tarjeta .nombre-imagen {
    font-size: 14px;
    color: #333;
    display: none; /* Ocultar nombre por defecto */
}
.tarjeta.mostrada img,
.tarjeta.mostrada .nombre-imagen {
    display: block; /* Mostrar imagen y nombre cuando la tarjeta esté volteada */
}