body{
    background-image: url('imagenes/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#tablero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.tarjeta {
    width: 75px;
    height: 75px;
    margin: 1%;
    background-image: url('imagenes/reverso1.png'); /* Imagen de fondo para la parte posterior */
    background-size: cover; /* Asegura que la imagen cubra todo el div */
    background-position: center;
    /*background-color: #ccc; /* Color de fondo visible antes de mostrar la imagen */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*overflow: hidden; /* Oculta el contenido que sale del contenedor */
}

.tarjeta img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin recortar */
    display: none; /* Oculta imagen por defecto */
}

.tarjeta .nombre-imagen {
    font-size: 12px;
    font-weight: bold;
    color: #000000;    
    display: none; /* Oculta nombre por defecto */
}
.tarjeta.mostrada {
    background-image: none; /* Elimina la imagen de fondo cuando se voltea la tarjeta */
    /*background-color: white;*/
}
.tarjeta.mostrada img,
.tarjeta.mostrada .nombre-imagen {
    display: block; /* Muestra imagen y nombre cuando la tarjeta esté volteada */
}

@media (max-width:600px){
    .tarjeta {
        width: 50px;
        height: 50px;
        margin: 0%;
    }
    .tarjeta .nombre-imagen {
        font-size:8px;
        
    }
    body{
        height: max-content;
        background-size: cover;
        background-position: center;
    }
}
